@import "compass";
// unlees using retina

/* 
$icons-spacing: 20px;
 $icons-layout: vertical;
 $icons-sprite-dimensions: true;
 @import "icons.png";
 @include all-icons-sprites;   

 */ 
 
// ednunless

*, *:before, *:after {
  @include box-sizing(border-box);
}

.clearfix {
  @include pie-clearfix;
}


a:active,
a:hover {
  outline: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}